{% extends 'base.html' %}
{% block content %}
    <h1>Welcome to the Question Bank</h1>
    <div>
        {% if questions %}
            <ul>
                {% for question in questions %}
                    <li>
                        {{ question.question }}
                        {% if question.image_file %}
                            <br>
                            <img src="{{ url_for('static', filename='uploads/' + question.image_file) }}" alt="Question Image" width="300">
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No questions available.</p>
        {% endif %}
    </div>
{% endblock %}
