<!DOCTYPE html>
<html>
<head>
    <title>Question List</title>
</head>
<body>
    <h1>List of Questions</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Question</th>
            <th>Answer</th>
            <th>View</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row['id'] }}</td>
            <td>{{ row['question'] }}</td>
            <td>{{ row['answer'] }}</td>
            <td><a href="{{ url_for('view_question', question_id=row['id']) }}">View</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Add More Questions</a>
</body>
</html>
